.iconShow {
  position: relative;
}

.iconShow {
  position: relative;
  background-color: #24B3B9;
  color: #fff;
  /* width: 100%; */
  height: 100%;
  border-radius: 50%;
  z-index: 5;
  padding: 10px;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
  /* width: 400px; */
}


@media screen and (max-width: 1000px) {
  .imgLogo {
    width: 250px;
  }
}


.navbar a {
  position: relative;
  display: block;
  padding: 5px 20px;
  cursor: pointer;
  transition: .4s all;
}

.navbar a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #24B3B9;
  transition: .4s all;
}

.navbar a:hover::before {
  width: 100%;
}