.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px;
  background-color: #fff !important;
}


.pagination li {
  background-color: #f4f4f4;
  color: #fff;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #046C77;
  /* border: 1px solid #046C77; */
}

.pagination li a {
  display: block;
  padding: 7px 16px;
}

/* .pagination__link {
  background-color: #e1e1e1 !important;
  padding: 10px 15px;
  color: #fff;
  border-radius: 5px;
  margin-left: 10px;
} */

.pagination__link--active {
  background-color: #046C77 !important;
  color: #fff !important;
}

.previous {
  background-color: #fff !important;
  font-weight: 900;
  border: 1px solid #046C77 !important;
}

.previous.pagination__link--disabled {
  background-color: #fff !important;
  font-weight: 900;
  border: 1px solid #046C77 !important;
}

li.previous.pagination__link--disabled {
  /* background-color: #fff !important;
  font-weight: 900;
  border: 1px solid #046C77 !important; */
}

li.next {
  background-color: #fff !important;
  font-weight: 900;
  border: 1px solid #046C77 !important;
}

li.pagination__link__next a {
  padding: 7px 5px !important;
}

.previous.pagination__link--disabled,
li.previous a {
  /* display: none; */
}